Data.xlsx
C:\Users\gjwgl\OneDrive\Documenten\Python Scripts\Huisjes\__pycache__
C:\Users\gjwgl\OneDrive\Documenten\Python Scripts\Huisjes\.vscode
C:\Users\gjwgl\OneDrive\Documenten\Python Scripts\Huisjes\.venv